@import url('https://fonts.googleapis.com/css?family=Open+Sans|Oswald&display=swap');
$break-tablet: 768px;
$break-desktop: 1024px;
$height-carousel: 264px;
$width-carousel: 288px;
$width-carousel-tablet: 300px;
body {
  margin: 0;
  color: #2c303d;
  padding-bottom: 20px;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
