.main{
    
    .main-title-section{
        margin: 38px;
        .main-title{
            font-size: 23px;
            font-family: 'Oswald', sans-serif;
            text-transform: uppercase;
            font-weight: 700;
            text-align: left;
        }
    }
    .main-img{
        background-image: url('../img/mainPhoto.png');
        height: 421px;
        background-position: center;
    }
    .product-details{
        margin: 18px 40px 0 40px;
        .reference {
            color: #565656;
            font-size: 12px;
        }
        .prices {
            margin: 8px 0 8px 0;
            display: flex;
            flex-direction: row;
            font-size: 38px;
            color: #2c303d;
            font-weight: 1000;
            .real-price{
                margin-right: 16px;
                .price-digit {
                    text-decoration: line-through;
                }
            }
            .discount-price{
                color: #ce2c52;
                text-decoration: none;
            }
        }
        .social-media-section{
            margin: 30px 0;
            display: flex;
            .buttons-social-media{
                display:inline-block;
                height: 40px;
                width: 40px;
                border-radius: 50%;
                font-size: 20px;
                border: none;
                text-align: center;
                margin-right: 12px;
                color: white;
                padding-top: 4px;
        
            }
            .background-color-facebook{
                background-color: #5365d2;
            }
            .background-color-twitter{
                background-color: #57bbd4;
            }
            .background-color-tumblr{
                background-color: #2c87ce;
            }
            .background-color-youtube{
                background-color: #d72424;
            }
        }
        .description-product{
            font-size: 15px;
            margin-bottom: 30px;
        }
        .size-section{
            display: flex;
            flex-direction: column;
            font-weight: 900;
            margin-bottom: 40px;
            .name-sizes{
                margin: 18px 0 0 14px;

            }
            .name-sizes span{
                margin-right: 40px;
                font-size: 10px;
                font-weight: 900;
            }
        }
        .color-section{
            font-weight: 900;
            .colors{
                margin-top: 18px;
                .buttons-colors{
                    display:inline-block;
                    height: 40px;
                    width: 40px;
                    border-radius: 50%;
                    border: none;
                    margin-right: 12px;
                }
            }

        }
        .section-button-cart{
            text-align: center;
            .button-cart{
                height: 56px;
                width: 280px;
                border-radius: 100px;
                border: none;
                background-color: #8ae6cf;
                margin: 44px 0;
                font-weight: 900;
                font-size: 18px;
            }
        }
    }
    


}


